/*
    My CSS File
    Cascading Style Sheets allow us to apply styling to a web page.

    We can style:
        Every tag with a specific type
        Every tag with a specific id
        Every tag with a specific class
        Every child of any of the above
        Any combination of any of the above
        and many more.
*/

/* The more specific a style is, the more importance, css will place upon it. */

.dispute { /* Class styles supersede tag styles */
    background-color: green;
}

h1 {
    background-color: orange;
}

h6 {
    background-color: red;
}

/* classes: Reusable names that allow you to select
a group of elements in an html document (this is true in css *AND* JS)

You utilize the . operator */
.hello {
    color: orange;
}

.goodbye {
    color: green;
}

/* ids: unique names that select a specific element.

They use the # operator */

#orr {
    color: magenta;
    background-color: navy;
}

/* child operator: > */
tr > .hello {
    color: cyan;
    background-color: teal;
}

body {
    background-image: url("../images/aws.png")
}