body {
    background-color: #fff5c0;
    font-family: sans-serif;
    text-align: center;
    height: 100%;
}

#gdheader {
    color: #ff4646;
}

.text {
    color: #ff8585;
}

.copyright {
    color: gray;
}

footer {
    text-align: center;
}

img {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    color: #ff4646;
}