body {
  background-color: rgb(16, 8, 63);
  color: rgb(164, 186, 226);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  color: rgb(48, 101, 199);
  text-align: center;
}

nav {
	background-color: rgb(233, 157, 58);
	color: rgb(233, 157, 58);
}

nav > ul > li {
	display: inline-block;
}

li > a {
	color: white;
}

nav > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.myButton {
	background-color: rgb(73, 99, 184);
	border: none;
	color: white;
	text-align: center;
	display: inline-flex;
}

.myTable {
	background-color: white;
	border: white;
	color:rgb(16, 8, 63);
}