body{
    background-image: linear-gradient(to right,maroon,rgb(199, 110, 110),maroon);
    text-align: center;

}

h1{
color:darkblue;
font-size: xx-large;
}


h2{
    color:gold;
    }
    
table,th,td{ 
background-color: darkcyan;
width: 50%;  
border: 5px solid purple;
}    

.img{
    width:25%;
}

.input{
    width: 25%; 
}